.About-container{
    background: rgba(0,0,0,0.75);
}
.About-skill{
    margin-bottom: 0.5rem;
}   
.About-info{
    color: #ffffff;
}
.title{
    text-align: center;
}
.tech{
    text-align: center;
}
.About-video{
    color: #ffffff;
}
@media screen and (min-width: 64rem){
    .About{
        background-image: url(../images/mickey-background.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .About-container{
        height: 67rem;
        width: 92.1rem;
        margin-left: -1rem;
        margin-bottom: 0.5rem;
    }
    .name-alias{
        font-size:3rem;
    }
    .About-iconskill{
        font-size: 3rem;
        margin-right: 4rem;
    }
    
    .icon-color{
        color:#ffffff;
    }
    
    .icon-move{
        margin-left: 4rem;
    }
    .About-Skills{
        background: rgba(0,0,0,0.25);
    }
}
@media screen and (min-width: 41rem) and (max-width:64rem){
    .About{
        background: url(../images/mickey_bgipad.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        }
    .About-container{
        height: 67rem;
        width: 88.1rem;
        margin-left: -1rem;
        }
    .title{
        font-size: 2rem!important;
        margin-left: 0!important;
    }
    .resp_img{
        width: 50%;
    }
    .About-info{
        font-size: 1.4rem;
        margin-left: -3rem;
    }
    .video-player{
        width: 18rem!important;
        height: 14rem!important;
        margin-left: -10rem;
    }
    .resp_photo{
        margin-left: -2rem!important;
        width: 18rem;
    }
    .About-iconskill{
        font-size: 2rem;
        margin-right: 3rem;
    }
    .soft{
        margin-left: 0!important;
    }
    .icon-move{
        margin-left: 1.5rem;
    }
    .About-soft{
        margin-left: -8rem!important;
    }
    .About-container-icon{
        margin-left: 4rem;
    }
    .tech{
        margin-right: 6rem;
        font-size: 1.8rem!important;
    }
}



@media screen and (max-width:40rem){
    .About{
        background-image: url(../images/mickey_bgcellphone.png);
        margin:0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .name-alias{
        font-size: 1.5rem;
        text-align: center;
    }
    .icon-move{
        margin-left: 1rem;
    }
    .About-iconskill{
        font-size: 2rem;
        margin-right: 2rem;
    }
    .soft{
        text-align: center;
    }
}

