.About{
    /*background:linear-gradient(20deg, rgb(4,48,114), rgb(3, 69, 168));*/
    width:150rem;
    margin:0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.text2{
    text-align: left;
}
.About-skill{
    margin-bottom: 0.5rem;
}
.pic-div{
    display:flex;
    margin-left:100px;
    width: auto;
}   
.About-text{
    margin-right:500px;
}
.About-info{
    color: #ffffff;
    margin-top:1rem;
    font-family: 'Big Shoulders Text';
}
.tech{
    text-align: center;
}
.resp_photo:hover{
    width:20rem;
    border:solid 6px rgba(95, 4, 117, 0.678);
    border-radius: 50%;
}
.name:hover{
    color:rgba(105, 230, 241, 0.952);
    font-size: 4rem;
}
.container-fluid{
    padding-right: 0!important;
    padding-left:1px!important;
}
.About-container{
    margin-top: 3.5rem;
}
.soft{
    font-size: 2rem;
}
@media screen and (min-width: 64rem){
    .About{
        margin:0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .About-container{
        height:52rem;
        width: 100%;
        margin-left: 0;
        text-align: center;
        
    }
    .resp_photo{
        width:18rem;

    }
    .About-iconskill{
        font-size: 3rem;
        margin-right: 4rem;
    }
    .icon-color{
        color:#ffffff;
    }
    .name{
        font-size:3rem;
        font-weight: 700;
    }
    .icon-move{
        margin-left: 4rem;
    }
}
@media screen and (min-width: 41rem) and (max-width:64rem){
    .About-container{
        height: 67rem;
        width: 88.1rem;
        }
    .title{
        font-size: 2rem!important;
        margin-left: 0!important;
    }
    .resp_img{
        width: 50%;
    }
    .About-info{
        font-size: 1.4rem;
        margin-left: -3rem;
    }
    .resp_photo{
        margin-left: -2rem!important;
        width: 18rem;
    }
    .About-iconskill{
        font-size: 2rem;
        margin-right: 3rem;
    }
    .soft{
        margin-left: 0!important;
    }
    .icon-move{
        margin-left: 1.5rem;
    }
    .About-soft{
        margin-left: -8rem!important;
        font-size:3rem;
    }
    .About-container-icon{
        margin-left: 4rem;
    }
    .tech{
        margin-right: 6rem;
        font-size: 1.8rem!important;
    }
}



@media screen and (max-width:40rem){
    .name-alias{
        font-size: 1.5rem;
        text-align: center;
    }
    .video-player{
        width: 17rem!important;
    }
    .About-iconskill{
        font-size: 1.5rem;
        margin-right: 2.2rem;
        margin-left: 0.8rem;
    }
    .soft{
        text-align: center;
    }
    .about-cast{
        margin-top:3rem;
    }
    .text2{
        margin-left: 10px;
    }
    .About-soft{
        text-align: center;
    }
    .resp_photo{
        width:16rem;
        display: block;
    }
}

