@media screen and (min-width: 64rem) {
  .ContactMe {
    /*background:linear-gradient(20deg, rgb(4,48,114), rgb(3, 69, 168));*/
    margin:0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .ContactMe-container {
    height: 65rem;
    margin: 0;
  }

  .ContactMe-title{
    font-size: 2rem;
  }

  .img-marg {
    margin-left: -10rem !important;
  }
}
@media screen and (max-width: 40rem) {
  .ContactMe {
    background-image: url(../images/mickey_bgcellphone4.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .img-marg {
    width: 15rem;
    margin-left: 2rem !important;
  }
  .display-icon{
    width:2.5rem;
    margin-right: 0.5rem;
  }
  .ContactMe-title{
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  .icon-div{
    margin-left: 2rem;
  }
}

.ContactMe-title {
    color: #ffffff;
    text-align: center;
}
.display-icon{
    display:inline-flex;
    margin-right: 0.5rem;
}
