.ContactMe{
    background-image: url(../images/mickey-background5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 65rem;

}
.ContactMe-container{
    background: rgba(0,0,0,0.75);
    height: 65rem;
    margin:0.5rem;
}

.ContactMe-title{
    color:#ffffff;
    text-align: center;
    font-size: 5rem;
}

.img-marg{
    margin-left:-10rem!important;
}