body{
    margin:0;
}
.home-img{
    width:6.5rem;
}

.navbar-static{
    width: 100%;
    position: fixed!important;
    z-index: 100;
    top: 0;
}
.separation{
    margin-left: 700px;
}
.bg-dark2{
    background:linear-gradient(100deg, rgb(2, 49, 119), rgb(51, 87, 245))!important;
}
.img-fluid{
    margin-left:15px!important;
}

@media screen and (max-width:40rem){
    .separation{
        margin-left: 0;
    }
}