.Portfolio{
    background-image: url(../images/mickey-background3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.Portfolio-container{
    background: rgba(0,0,0,0.75);
    height: 75rem;
    margin:0.5rem;
}

.Portfolio-title{
    color:#ffffff;
    text-align: center;
    font-size: 5rem;
}