.Portfolio-container {
  background: rgba(0, 0, 0, 0.75);
  height: 80rem;
}
.text {
  font-weight: 400;
  text-align: center !important;
}
.Portfolio-title {
  color: #ffffff;
  text-align: center;
}
.img-size {
  width: 60rem !important;
  height: 30rem;
  margin-left: 15rem;
  margin-bottom: 1rem;
}
.Portfolio-bgtext {
  background: rgba(0, 0, 0, 0.75);
  width: 60rem;
  margin-left: 1rem;
}
.Portfolio-info {
  color: #ffffff;
  text-align: center;
}
.Portfolio-projectsTitle {
  color: #ffffff;
  text-align: center;
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.Portfolio-projectsTitle:hover {
  color: rgb(0, 255, 149);
}
.position-mickey{
  position: right;
  display:none;
}

@media screen and (min-width: 64rem) {
  .Portfolio {
    background-image: url(../images/mickey-background3.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90rem;
  }
  .Portfolio-desc {
    font-size: 4rem;
    font-weight: bold;
  }
  .Portfolio-container {
    height: 80rem;
    width: 92rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  .socialnetwork-info {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 64rem) {
  .Portfolio {
    background-image: url(../images/mickey_bgipad3.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 40rem) {
  .Portfolio {
    background-image: url(../images/mickey_bgcellphone3.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .Portfolio-container {
    height: 38rem;
  }
  .Portfolio-title {
    font-size: 2rem;
  }
  .Portfolio-desc {
    font-size: 1rem;
  }
  .project-info {
    text-align: center;
    font-size: 0.75rem;
  }
  .Portfolio-projectsTitle {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .text {
    font-size: 1rem;
  }
  .img-size{
    width:20rem!important;
    height: 10rem!important;
    margin-left: 0;
  }
  .Portfolio-TitleProject{
    font-size: 12px;
    margin-top: -1rem;
  }
  .Portfolio-InfoProject{
    font-size: 8px;
    margin-top:-0.5rem;
  }
  .carousel-control-prev {
    left: -2rem!important;
}
.carousel-control-next {
    right: -2rem!important;
}
.Portfolio-bgtext {
  width: 15rem!important;
}
.position-mickey{
  display:block;
}
.Portfolio-bgtext {
  
  width: 35rem;
  margin-left: -1rem;
  height: 6rem;
}
}
