.AboutMe{
    background-image: url(https://raw.githubusercontent.com/Tita-Navarro/portafolio/master/src/images/mickey-background.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}