@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap');
* {
  
  font-family: 'Montserrat', 'Big Shoulders Text' sans-serif;
}
body{
    background:linear-gradient(150deg, rgb(2, 49, 119), rgb(51, 87, 245));
    height: 30rem;
}

