@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
* {
  
  font-family: 'Montserrat', 'Source Sans Pro' sans-serif;
}
body{
    background:linear-gradient(50deg, rgb(2, 49, 119),  rgb(51, 87, 245));
    height: 30rem;
}

