@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
  
  font-family: 'Montserrat', sans-serif;
}

.carousel-control-prev {
    left: 7rem!important;
}
.carousel-control-next {
    right: 7rem!important;
}